h2, h3 {
color: #003366;
text-align: center;
}
form {
background-color: #ffffff;
padding: 20px;
border-radius: 10px;
width: 300px;
margin: 0 auto;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
display: block;
margin-top: 10px;
}
input, select, button {
width: 100%;
padding: 8px;
margin-top: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}
button:hover {
background-color: #0055aa;
}
#output {
margin-top: 20px;
text-align: center;
font-size: 16px;
color: #003366;
}