.roomlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.room-box {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.room-box p {
    margin: 6px 0;
    font-size: 14px;
}

.button {
    margin-top: 12px;
    text-align: center;
}

.button {
    width: auto;
    padding: 6px 12px;
    margin: 4px;
    border: none;
    cursor: pointer;
}

.editBtn {
    background-color: #0c3b21;
    color: #fff;
}

.deleteBtn {
    background-color: #f44336;
    color: #fff;
}


#addRoom {
    margin-top: 30px;
    width: 320px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
}

#addRoomlabel {
    display: block;
    margin-top: 10px;
}

#addRoom input,
#addRoom select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

#addRoombutton {
    margin-top: 12px;
    padding: 8px 12px;
}

#switchmotion {
    background-color: #2196F3;

    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
}

#switchmotion:hover {
    background-color: #1e88e5;
}