body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 20px;
}

.img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #779c79;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #102c27;
}

footer {
  background: #333;
  color: white;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
